body,html{
   
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #764ba2;
  color: #fff;
}
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.bg {
  
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 500px;
  background-color: #667eea2f;
}


h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #ffeb3b;
  text-shadow: 1px 1px 2px black;
}


.instruction-container {
  background: rgba(0, 0, 0, 0.25);
  padding: 30px;
  
  border-radius: 25px;
} 

 .instruction-container ol {
  text-align: left;
  line-height: 1.7;
} 

.updated-date {
  font-size: 14px;
  margin-bottom: 10px;
  color: #c5e1ff;
}

.note {
  margin-top: 15px;
  font-size: 14px;
  color: #ffccbc;
  font-style: italic;
}


#question {
  margin: 20px 0;
  font-size: 20px;
  color: #fff;
}


.option {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  
}

.option:hover {
  background: #4cafef;
  color: white;
  
}


#startbtn {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 16px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  
}

#startbtn:hover {
  background: #e65100;
  
}

#result-container {
  margin-top: 20px;
  font-size: 18px;
  color: #00e676;
  font-weight: bold;
}
#time {
  font-size: 22px;
  font-weight: bold;
  background: #00000040;
  padding: 8px 15px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 15px;
  color: #00e5ff;
}
.question-container {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 15px; 
} 